<div class="p-3" style="max-width: 100% !important">
  <h3 class="title mb-3">Cadastro de produtos</h3>
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-sm limited">
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Nome"
        />
      </div>
      <div class="col-sm limited">
        <input
          formControlName="description"
          type="text"
          class="form-control"
          placeholder="Descrição"
        />
      </div>
    </div>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-sm limited">
        <input
          formControlName="price"
          type="number"
          class="form-control"
          placeholder="Valor"
        />
      </div>
      <div class="col-sm">
        <input
          formControlName="available"
          class="form-check-input cursor-pointer"
          type="checkbox"
          value=""
          id="defaultCheck1"
          role="button"
        />
        <label class="form-check-label" for="defaultCheck1">
          Disponível para venda
        </label>
      </div>
      <div class="row">
        <div class="col-md-auto my-1">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
        <div class="col-md-auto my-1">
          <button class="btn btn-danger" (click)="goToList()">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<style>
  input,
  .limited,
  button {
    max-width: 450px;
    margin: 5px 0;
  }
  button {
    width: 120px;
  }
</style>
